<!-- Page Content -->
<div class="container">
   <div class="row">
      <div class="col-lg-12 text-center" style="padding-top: 20px;">
         <div class="container" style="padding-left: 0px; padding-right: 0px;">
            <div class="row">
               <div class="col-sm" style="text-align: left;">
                  {{ title }}
               </div>
               <div class="col-sm" style="text-align: right;">
                  <button type="button" class="btn btn-primary" (click)="goToList()">Go to List</button>
               </div>
            </div>
         </div>
         <div class="container box" style="margin-top: 10px;">
            <div class="row">
               <div class="col-2" style="text-align: right;">
                  <strong><em>Name:</em></strong>
               </div>
               <div class="col" style="text-align: left;">
                  {{ name }} 
               </div>
            </div>
            <div class="row">
               <div class="col-2" style="text-align: right;">
                  <strong><em>DOB:</em></strong>
               </div>
               <div class="col" style="text-align: left;">
                  {{ dob }}   
               </div>
            </div>
            <div class="row">
               <div class="col-2" style="text-align: right;">
                  <strong><em>Email:</em></strong>
               </div>
               <div class="col" style="text-align: left;">

                  {{ email }} 
               </div>
            </div>
            <div class="row">
               <div class="col-2" style="text-align: right;">
                  <strong><em>Address:</em></strong>
               </div>
               <div class="col" style="text-align: left;">
                  {{ address }} 
               </div>
            </div>
         </div>
      </div>
   </div>
</div>